<div id="welcome" class="container w-75 mt-5 mb-4 pt-5">
  <h1 class="text-danger"><%= t('welcome.instructions.title', username: current_user.username).html_safe %></h1>
  <hr class="border-top border-3 border-danger my-2">

  <br/>
  <br/>
  <p class="lead"><%= t('welcome.instructions.subtitle') %></></p>

  <ul class="list">
    <li class="mb-2"><%= t('welcome.instructions.list.answer_questions') %></li>
    <li class="mb-2"><%= t('welcome.instructions.list.submit_answers') %></li>
    <li class="mb-2"><%= t('welcome.instructions.list.start_quiz') %></li>
  </ul>

  <br/>

  <div class="text-center">
    <%= link_to t('welcome.start_quiz'), step_path(id: 1), class: "btn btn-danger btn-md mx-auto px-5" %>
  </div>
  <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/oD0YFMXHpwxDq" width="50%" height="20%" style="position:absolute; justify-content:center; align-items:center" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/shocked-alvin-and-the-chipmunks-oD0YFMXHpwxDq">via GIPHY</a></p>
</div>

